# acc1 — copy từ accounts.json + .sessions/acc1.session.json
MEZON_TOKEN=
MEZON_SESSION_ID=
MEZON_REFRESH_TOKEN=
MEZON_USER_ID=

CLAN_ID=
CHANNEL_ID=
CHANNEL_TYPE=1
CHANNEL_PUBLIC=true

UTILITY_BOT_ID=

MEZON_WS_HOST=sock.mezon.ai
MEZON_WS_PORT=443
MEZON_USE_SSL=true
MEZON_WS_FORMAT=pb
MEZON_PERSIST_REFRESH=true
